.main {
  animation: cssAnimation 1.5s ease-in 3s; 
  animation-fill-mode: forwards;
  visibility: hidden;
}

@keyframes cssAnimation {
  100%   { visibility: visible;
}
  from   {
    opacity: 0;
}
  to     {
    opacity: 1;
}
}

  button{
    transition: 595ms;
    transform: scale(1);
  }

  button:hover{
    transform: translateX(1px) scale(1.1);
  }

  .enlarge{
    transition: transform 595ms;
  }

  .enlarge:hover{
    transform: scale(1.1);
  }
table{
  border-color: red;
  border-radius: 15px;
  border-width: 15px;
  border-spacing: 5px;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: #444444;
}
 
::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6e00b3; 
}

.loadm{
  animation: bye 2s ease-in 1.5s;
  animation-fill-mode: forwards;
  position: relative;
  top: -55vh;
}

@keyframes spin{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.loading{
  animation: spin 1.5s infinite;
  animation-fill-mode: forwards;
  padding: 3vh;
  height: 1vh;
  width: 1vh;
  border: 10px;
  border-radius: 50%;
  border-top: solid red;
  border-bottom: solid grey;
  border-right: solid grey;
  border-left: solid grey;
  background-color: black;
}

@keyframes bye{
  100%{
  }
  from{
    opacity: 1;
    visibility: visible;
  }
  to{
    opacity: 0;
    padding: 0;
    height: 0;
    width: 0;
    visibility: hidden;  
}
}

a{
  text-decoration: none;
  color: black;
}


.savesoil{
  transition: all 500ms;
}

.overlay{
  transition: all 500ms;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: whitesmoke;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.close{
  position: relative;
  left: 30vh;
}

*{
  animation: overflow 1.5s ease-in 1.5s;
  animation-fill-mode: forwards;
  overflow-y: hidden;
  overflow-x: hidden;
}

@keyframes overflow{
  from{
    overflow-y: hidden;
    overflow-x: hidden;
  }
  to{
    overflow-y: visible;
    overflow-x: visible;
  }
}